  <div class="invitee_list">
  
  <table class="table">
  <thead>
    <tr>
      <th scope="col" class="list_col_width" >#</th>
      <th scope="col" class="list_col_width">Nombre</th>
      <th scope="col" class="list_col_width">Apellidos</th>
      <th scope="col" class="list_col_width">Evento</th>
    </tr>
  </thead>
  <tbody>
    <% @invites.each do |invite| %>
       <tr class="list_row_width">
        <td><%= invite.id  %></td>
        <td><%= invite.firts_name  %></td>
        <td><%= invite.last_name %></td>
        <td><%= invite.title %></td>
        </tr>
    <% end %>    
  </tbody>
</table>  

</div>

  


