<div class="logo">

  <%= image_tag("caile/dance.png", size: '40x40') %>
  <p> &nbsp;&nbsp; </p>
  <%= link_to ' Caile!', root_path %>
</div>

<div class="menu">
  <ul class="menu_options">
    <li class="menu_options_item">
        <a href="" class="menu_options_item_link">Invitado</a>
    </li>
    <li class="menu_options_item">
        <a href="" class="menu_options_item_link">Crear Evento</a>
    </li>
    
    <li class="menu_options_item">
        <a href="" class="menu_options_item_link"> --- </a>
    </li>
    
    <li class="menu_options_item">
        <a href="" class="menu_options_item_link">Registrase</a>
    </li>
    
  </ul>
        
</div>

<div class="burger">
  <span class="hamburger_bar"></span>
  <span class="hamburger_bar"></span>
  <span class="hamburger_bar"></span>                  
</div>