<div class="logo">

  <%= image_tag("caile/dance.png", size: '25x25') %>
  <%= link_to ' Caile!', root_path %>
</div>

<div class="menu">
  <ul class="menu_options">
    <li class="menu_options_item">
        <a href="" class="menu_options_item_link">le caigo a una fiesta</a>
    </li>
    <li class="menu_options_item">
        <a href="" class="menu_options_item_link">Armo una fiesta</a>
    </li>
    
    <li class="menu_options_item">
        <a href="" class="menu_options_item_link">Farms</a>
    </li>
    
    <li class="menu_options_item">
        <a href="" class="menu_options_item_link">Publishing</a>
    </li>
    
  </ul>
        
</div>

<div class="burger">
  <span class="hamburger_bar"></span>
  <span class="hamburger_bar"></span>
  <span class="hamburger_bar"></span>                  
</div>