<div class="img_one"> 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    
</div>
<div class="entry">
  <!-- <button class="button">Empezar Evento</button> -->
   
   <%= link_to 'Empezar Evento', entries_index_path, class: "button" %>
</div>

