@mixin center-flex-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

$pink-color: #FA86BE;
$purple-color: #A275E3;
$green-color: #9AEBED;
$yellow-color: #FFFCAB;
$black: black;
$white: white;
$medium-shadow: 0 0 5px $black;



