$background-color: #F3C5C5;
$button-color: #898AA6;
$purple-color: #C1A3A3;
$green-color: #9AEBED;
$yellow-color: #FFFCAB;
$black: black;
$white: white;
$medium-shadow: 0 0 5px $black;
    
/* $bkg-color: rgba($yellow-color, 0.48); */